*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(50,150,180), rgb(50,60,130));
    font-family: Helvetica;
    color: white;
}
.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature {
    flex-direction: column;
}
.temperature-section {
    display: flex;
}
.temperature-section span {
    margin: 3px;
    font-size: 30px;
}
.temperature-section h2 {
    font-size: 40px;
}